<template id="fav-tabs">
    <section class="tab">
        <span class="count">0</span>
        <p class="title"></p>
    </section>

    <style>
        span, p {
            margin: 0;
            padding: 0;
        }

        section.tab {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            color: #333;
            font-weight: bold;
        }
            section.tab:not(.active) > span {
                background: #FFF;
                color: #333;
            }
            section.tab > span {
                background: #26A69A;
                border-radius: 14px;
                display: flex;
                align-content: center;
                justify-content: center;
                width: 14px;
                height: 14px;
                padding: 4px;
                color: #FFF;
                font-size: 12px;
                font-weight: bold;
                margin-right: 8px;
            }
            section.tab:hover:not(.active) {
                color: #26A69A;
                cursor: pointer;
            }
            section.tab:hover:not(.active) span {
                color: #26A69A;
            }

        section.tab:not(.active) {
            background: none;
            opacity: 0.65;
            box-shadow: 1px 1px 10px rgba(0, 102, 105, 0.5) inset;
        }
        section.tab.active {
            background: rgb(255,255,255);
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(225,245,254,1) 99%);
            cursor: default;
        }
    </style>
</template>
