<template id="favorite-list">
    <section class="row">
        <section class="state"></section>
        <p class="title"></p>
    </section>
    <style>
    p {
        margin: 0;
        padding: 0;
    }
    section.row {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 40px;
        padding: 4px;
        box-sizing: border-box;
        background: white;
        border-radius: 0 0 3px 3px;
        cursor: pointer;
    }
        section.row:not(:last-child) {
            margin-bottom: 2px;
        }
        section.row:hover {
            box-shadow: 0 0 5px #8D6E63 inset;
        }

        section.row > p.title {
            display: flex;
            align-items: center;
            flex: 1;
            min-width: 0;
            height: 100%;
            box-sizing: border-box;
            margin: 0 10px;
            font-size: 11pt;
            color: #37474F;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }

        section.row > .state {
            display: flex;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin-left: 5px;
        }
            section.row > .state.connection {
                background: #FFA000;
                border: 1px solid #E65100;
            }
            section.row > .state.connected {
                background: #00E676;
                border: 1px solid #00C853;
            }
            section.row > .state.disconnected {
                background: #F44336;
                border: 1px solid #B71C1C;
            }
            section.row > .state.null {
                background: #CFD8DC;
                border: 1px solid #78909C;
            }
    </style>
</template>
