<template id="news-element">
    <section class="news">
        <section class="title">
            <p><slot name="title"></slot></p>
            <span><slot name="date"></slot></span>
        </section>
        <section class="text">
            <p><slot name="text"></slot></p>
        </section>
    </section>

    <style>
        p, span {
            margin: 0;
            padding: 0;
        }

        .news {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            margin-right: 10px;
            border-radius: 4px;
            overflow: hidden;
        }

        /* News title */
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
            padding: 0 10px;
            height: 30px;
            background: #263238;
        }
            .title > p {
                font-weight: bold;
                color: #ECEFF1;
                font-size: 12pt;
            }
            .title > span {
                display: flex;
                color: #FFF;
                background: #01579B;
                padding: 2px 5px;
                border-radius: 5px;
                font-size: 10pt;
                font-weight: bold;
            }

        /* News content */
        .text {
            background: #ECEFF1;
            text-align: justify;
            padding: 10px;
        }
    </style>
</template>
