<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Union</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/fontello-embedded.css">
    <script src="../public/js/libs/riot.js"></script>
</head>
<body>
    <aside id="leftPanel">
            <section class="headButtons">
                <section class="button icon-home" id="hub" title="Hub"></section>
                <section class="button icon-group" id="search" title="Search"></section>
                <section class="button icon-github-circled" id="git" title="GIT"></section>
                <section class="button icon-chat" id="discord" title="Discord"></section>
            </section>
        <nav>
            
            <section class="tabs">
                <section id="servers" class="tab active">
                    <p>Servers</p>
                </section>
                <section id="projects" class="tab">
                    <p>Projects</p>
                </section>
            </section>
            <listLeftPanel class="projectsPanel" option="project"></listLeftPanel>
            <listLeftPanel class="serversPanel" option="server"></listLeftPanel>
        </nav> 
    </aside>
    
    <section id="panelController"></section>
    <main>

    </main>
    <script src="../public/tags/asideController/listLeftPanel.tag" type="riot/tag"></script>
    <script src="../public/js/leftPanelTabs.js"></script>
    <script src="../public/js/panelController.js"></script>
    <script>
        riot.mount("listLeftPanel");
    </script>
</body>
</html>
