<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CanvasGM</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/fontello-embedded.css">
    <script src="../public/js/libs/riot.js"></script>
</head>
<body>
    <header>
        <p>CanvasGM</p>
        <ul>
            <li class="icon-window-minimize" id="minimize"></li>
            <li class="icon-window-maximize" id="fullscreen"></li>
            <li class="icon-window-close" id="close"></li>
        </ul>
    </header>
    <main>
        <popup></popup>
        <section id="leftPanel">
            <section class="headButtons">
                <section class="button icon-home" id="hub" title="Hub"></section>
                <section class="button icon-group" id="search" title="Search"></section>
                <section class="button icon-github-circled" id="git" title="GIT"></section>
                <section class="button icon-chat" id="discord" title="Discord"></section>
            </section>

            <nav>
                <section class="tabs">
                    <section id="servers" class="tab active">
                        <span>10</span>
                        <p>Servers</p>
                    </section>
                    <section id="projects" class="tab">
                        <span>10</span>
                        <p>Projects</p>
                    </section>
                </section>
                <list-left-panel class="projectsPanel" option="project"></list-left-panel>
                <list-left-panel class="serversPanel" option="server"></list-left-panel>
            </nav>

            <member-area>
            </member-area>
        </section>

        <section id="panelController"></section>

        <section id="mainContent">
            <news></news>
        </section>
    </main>
    
    <script src="../public/tags/asideController/list-left-panel.tag" type="riot/tag"></script>
    <script src="../public/tags/asideController/member-area.tag" type="riot/tag"></script>
    <script src="../public/tags/news.tag" type="riot/tag"></script>
    <script src="../public/tags/popup.tag" type="riot/tag"></script>
    <script src="../public/tags/popup/authentication.tag" type="riot/tag"></script>

    <script src="../public/js/asideController/leftPanelTabs.js"></script>
    <script src="../public/js/asideController/panelController.js"></script>
    <script src="../public/js/asideController/headButtons.js"></script>
    <script src="../public/js/windowController.js"></script>
    <script src="../public/js/popup.js"></script>
    <script>
        riot.mount("list-left-panel");
        riot.mount("news", require('../config/news.json'));
        // const user = {
        //     pseudo: "Non connecté"
        // };
        const memberArea = riot.mount("member-area");

        function unmountContent(){
            const contentElem = document.getElementById("mainContent");
            console.log(contentElem);
            const childTag = contentElem.childNodes[1]._tag;
            console.log(childTag);
            childTag.unmount();
        }
    </script>
</body>
</html>
