<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CanvasGM</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/default.css">
    <link rel="stylesheet" href="../public/css/application.css">
    <link rel="stylesheet" href="../public/css/launcher.css">
    <link rel="stylesheet" href="../public/css/fontello-embedded.css">

    <!-- Load dom scripts -->
    <script src="../public/js/window.js" defer></script>
    <script src="../public/js/default.js" defer></script>
</head>
<body>
    <!-- Windows header start -->
    <header>
        <p>CanvasGM</p>
        <ul>
            <li class="icon-window-minimize" id="minimize"></li>
            <li class="icon-window-maximize" id="fullscreen"></li>
            <li class="icon-window-close" id="close"></li>
        </ul>
    </header>

    <!-- Launcher content start -->
    <main>
        <!-- Navigation start -->
        <nav>
            <navigation-menu view="news-container">
                <i class="button icon-home"></i>
            </navigation-menu>
            <navigation-menu>
                <i class="button icon-group"></i>
            </navigation-menu>
            <navigation-menu href="https://github.com/canvas-gm">
                <i class="button icon-github-circled"></i>
            </navigation-menu>
            <navigation-menu href="https://discord.gg/cSKpZK9">
                <i class="button icon-chat"></i>
            </navigation-menu>
        </nav>

        <!-- Panel start -->
        <aside>
            <!-- Tabs to switch between servers & projects -->
            <section id="favorite-tabs"></section>

            <!-- List of servers or projects -->
            <favorite-list-panel type="Projects" default></favorite-list-panel>
            <favorite-list-panel type="Servers"></favorite-list-panel>
        </aside>

        <!-- Main content start -->
        <main-view default="news-container"></main-view>
    </main>
</body>
</html>
