html, body {
    height: calc(100vh - 2px);
    box-sizing: content-box;
}

/*
 * Application body
 */
body {
    display: flex;
    flex-direction: column;
    border: 1px solid #1E88E5;
}

/*
 * Application header!
 */
 header {
    height: 30px;
    background: var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding-left: 10px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
    header > p {
        color: #FFF;
        font-weight: bold;
        font-size: 14pt;
        flex: 1;
        -webkit-app-region: drag;
    }
    header > ul {
        display: flex;
        font-size: 15pt;
        margin-right: 10px;
        height: inherit;
        align-items: center;
    }
        header > ul > li {
            display: flex;
            color: white;
            cursor: pointer;
        }
            header > ul > li:hover {
                color: #DDD;
            }
                header > ul > li:hover:last-child {
                    color: #EF5350;
                }

            header > ul > li:not(:last-child) {
                margin-right: 10px;
            }

/*
 * Application container!
 */
main {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
}
