body {
    background: var(--border-color);
}

/* Pop-up component */
pop-up {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    align-items: center;
    justify-content: center;
}

/* Launcher (buttons) navigation */
nav {
    width: 70px;
    background: var(--border-color);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
    nav > navigation-menu {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--soft-background);
        font-size: 20pt;
        transition: 0.25s linear all;
        text-shadow: 0 0 10px #1A237E;
    }
        nav > navigation-menu:hover {
            cursor: pointer;
            color: #FFF;
            background: var(--border-color-darker);
        }

/* Left panel (favorite projects and servers). */
aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
    box-sizing: border-box;
    padding: 2px;
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
    /* Favorite panel tabs (to select panel to show or hide) */
    aside > section#favorite-tabs {
        display: flex;
        background: var(--soft-background);
        height: 40px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }

    /* Favorite panel */
    aside > favorite-list-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 2px;
        background: var(--soft-background);
        overflow-y: auto;
    }

    /* Member area */
    aside > member-area {
        display: flex;
        flex-shrink: 0;
        height: 80px;
        align-items: center;
        background: linear-gradient(to bottom, rgba(225,245,254,1) 0%,rgba(255,255,255,1) 100%);
    }

/* Main container (where main content is loaded with tag elements) */
main-view {
    display: flex;
    overflow-y: auto;
    margin: 0 10px;
}
