body {
    background: var(--border-color);
}

/* Launcher (buttons) navigation */
nav {
    width: 70px;
    background: var(--border-color);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
    nav > navigation-menu {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--soft-background);
        font-size: 20pt;
        transition: 0.4s linear all;
    }
        nav > navigation-menu:hover {
            cursor: pointer;
            color: #FFF;
            background: var(--border-color-darker);
        }

/* Left panel (favorite projects and servers). */
aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
    box-sizing: border-box;
    padding: 2px;
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
}
    /* Favorite panel tabs (to select panel to show or hide) */
    aside > section#favorite-tabs {
        display: flex;
        background: var(--soft-background);
        height: 40px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }

    /* Favorite panel */
    aside > favorite-list-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 2px;
        background: var(--soft-background);
        overflow-y: auto;
    }

/* Main container (where main content is loaded with tag elements) */
main-view {
    display: flex;
    overflow-y: auto;
    margin: 0 10px;
}
