* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: "Roboto";
    overflow: hidden;
    height: calc(100vh - 20px);
    box-sizing: content-box;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
	border: solid 0 transparent;
	border-right-width: 4px;
	border-radius: 5px;
	border-top-right-radius: 9px 5px;
	border-bottom-right-radius: 9px 5px;
	box-shadow: inset 0 0 0 1px #9E9E9E;
}

body {
    display: flex;
    background: rgb(145, 114, 80);
    padding: 10px 10px 10px 0;
}

nav {
    display: flex;
    flex-direction: column;
    width: 320px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px;
    overflow: hidden;
    background: #FFF;
    border: 2px solid rgb(101, 96, 83);
    box-shadow: 2px solid #FFF inset;
    margin-left: 10px;
}
    nav > .tabs {
        display: flex;
        flex-shrink: 0;
        background: rgb(239, 233, 221);
        height: 40px;
    }
        nav > .tabs > .tab {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 0;
            color: #333;
            font-weight: bold;
            cursor: pointer;
        }
            nav > .tabs > .tab:hover:not(.active){
                background:#FFF;
            }

        nav > .tabs > .tab:not(.active) {
            background: none;
            opacity: 0.45;
        }
        nav > .tabs > .tab.active {
            background: rgb(239, 233, 221);
            cursor: default;
        }

    nav > projects,
    nav > servers {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 0;
        box-sizing: border-box;
        padding: 2px;
        border-radius: 0 0 3px 3px;
        background: rgb(239, 233, 221);
        overflow-y: auto;
    }
    nav > projects {
        display: none;
    }

        nav > projects > .project,
        nav > servers > .server {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 40px;
            padding: 4px;
            box-sizing: border-box;
            background: white;
            border-radius: 0 0 3px 3px;
            cursor: pointer;
        }
            nav > projects > .project:not(:last-child),
            nav > servers > .server:not(:last-child){
                margin-bottom: 2px;
            }
            nav > projects > .project:hover,
            nav > servers > .server:hover{
                box-shadow: 0 0 5px #8D6E63 inset;
            }
            nav > projects > .project > img,
            nav > servers > .server > img{
                display: flex;
                width: 30px;
                height: 30px;
                opacity: 0.6;
            }
                nav > projects > .project > .title,
                nav > servers > .server > .title{
                    display: flex;
                    align-items: center;
                    flex: 1;
                    min-width: 0;
                    height: 100%;
                    box-sizing: border-box;
                    background: white;
                    margin: 0 10px;
                    text-overflow: ellipsis;
                }
                    nav > projects > .project > .title > p,
                    nav > servers > .server > .title > p{
                        font-size: 11pt;
                        color: #37474F;
                        font-weight: 500;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
            nav > projects > .project > .state,
            nav > servers > .server > .state{
                display: flex;
                width: 4px;
                height: 92%;
                border-radius: 2px;
            }
            nav > projects > .project > .connection,
            nav > servers > .server > .connection{
                background: #FFA000;
                border: 1px solid #E65100;
            }
            nav > projects > .project > .connected,
            nav > servers > .server > .connected{
                background: #00E676;
                border: 1px solid #00C853;
            }
            nav > projects > .project > .disconnected,
            nav > servers > .server > .disconnected{
                background: #F44336;
                border: 1px solid #B71C1C ;
            }

#panelController {
    display: flex;
    align-items: center;
    width: 12px;
    cursor: pointer;
    color: #3E2723;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-grow: 1;
    background: red;
}
