<template id="pop-up-auth">
    <p slot="title">Authentication</p>
    <section slot="content">
        <form id="auth-form">
            <input id="mail" placeholder="email" type="text">
            <input id="password" placeholder="password" type="password">
            <input type="submit" value="validate">
        </form>
        <section class="errorMessage hidden">
            <p>Error here!</p>
        </section>
        <section class="links">
            <extern-link href="http://www.google.fr">Mot de passe oublié ?</extern-link>
            <extern-link href="http://www.google.com">S'inscrire</extern-link>
        </section>
    </section>

    <style>
        /* Authentication form */
        form {
            display: flex;
            flex-direction: column;
        }
            form > input {
                padding: 2px 5px;
                border-radius: 5px;
                border: none;
            }
            form > input:not(:last-child){
                margin-bottom: 5px;
            }

        /* links */
        section.links {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            font-size: 10pt;
            font-weight: bold;
            padding: 0 10px;
        }

        extern-link {
            color: #06F;
        }
    </style>

    <script>
        console.log("template loaded!");
        const root = document.currentScript.shadowRoot;
        const form = root.getElementById("form-auth");
        console.log(form);
        form.addEventListener("submit", (event) => {
            event.preventDefault();
            console.log("Auth form submitted!");
        });
    </script>
</template>
